<table class="dogs" id='dogs' border="2">
  <caption>G School Dogs</caption>
  <tr>
    <th>Owner</th>
    <th>Dog Name</th>
    <th>Favorite Food</th>
    <th>Favorite Toy</th>
  </tr>
  <tr>
  <td id="owner"></td><td id="name"></td><td id="favoriteFood"></td><td id="favoriteToy"></td>
  </tr>
  <tr>
  <td id="owner"></td><td id="name"></td><td id="favoriteFood"></td><td id="favoriteToy"></td>
  </tr>
</table>


